html, body {
    /* overflow-y: hidden; */
    background-color: #3A506B;
    font-family: 'Roboto';
    font-size: 85%;
}

input:focus {
    outline: none;
    box-shadow: 0 0 1pt 1pt;
    color: #6FFFE9;
}

.body_row {
    padding-right: 15px;
    padding-top: 25px;
}

.body_column {
    float: left;
    width: 35%;
}

.body_ticker {
    border-radius: 15px;
}

.body_graph {
    overflow: hidden;
    padding-top: 0%;
    margin-left: 40%;
    width: 60%;
    height: 79vh;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.body_graph iframe {
    border: 0;
    height: 100%;
    width: 100%;
}

.body_row_transaction {
    color: #3A506B;
    background-color: white;
    padding: 5px;
    padding-left: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.body_row_transaction__amount {
    border: 1px solid #3A506B;
    border-radius: 15px;
    width: 55%;
    padding: 5px;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    color: #3A506B;
    cursor: auto;
}

.body_row_transaction__amount:hover {
    border-color: #5BC0BE;;
}
.body_row_transaction__amount:focus {
    border: none;
}

.body_row_transaction__amount::placeholder {
    color: #3A506B;
}

.body_row_transaction__container-btn {
    text-align: center;
}

.body_row_transaction__btn {
    width: 25%;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
    background-color: #5BC0BE;
    opacity: 0.9;
}

.body_row_transaction__btn:hover {
    opacity: 1;
    background-color: #6FFFE9;
    color: #3A506B;
    cursor: pointer;
}

.body_row_transaction_container-info {
    display: flex;
    justify-content: left;
    align-items: center;
}

.body_row_transaction__info {
    display: inline-block;
    margin-right: 30px;
}

.coinmarketcap-currency-widget {
    color: black;
    background: white;
    border-radius: 15px;
}

#body_list {
    margin-top: 5px;
}

#body_graph__iframe {
    line-height: 14px;
}

#body_btcWrapper {
    font-size: 1em;
    color: white;
}

#body_row__btcPrice {
    font-size: 1em;
    display: inline;
}

#body_ticker__iframe {
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}