html {
    overflow-y: hidden;
}

.body_container {
    padding-right: 25px;
    padding-top: 30px;
}

#body_list {
    margin-top: 15px;
}

#body_ticker {
    /* height: 40px; */
    padding-right: 5px;
}

#body_graph {
    /* height: 540px; */
}

#body_graph__iframe {
    line-height: 14px;
    box-sizing: content-box;
}