/* Styles for page */
.container {
  width: 70%;
  margin: 150px auto;
}

body {
  color: white;
  font-family: 'Roboto';
  background-image: url("../assets/background.png")


}
body a {
  cursor: pointer;
  color: #4B4B4B;
  text-decoration: none;
  
}
body section {
  margin-bottom: 90px;
}
body section h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  letter-spacing: 10px;
  font-size: 25px;
  line-height: 1.5;

}
body section p, body section a {
  text-align: center;
  letter-spacing: 3px;
}

span {
  letter-spacing: 0px;
}


p {
  font-family: 'Roboto';
  font-weight: 200;
  line-height: 1.5;
  font-size: 14px;
  color: black;
}

p2 {

  font-size: 45px;
  color: white;
  font-family: 'Roboto';
  font-weight: bold;

}

p3 {

  font-size: 20px;
  color: white;
  font-family: 'Roboto';

}

/* Styles for Accordion */
.toggle:last-child {
  background-color: #4CAF50;
  border-bottom: 1px solid #dddddd;
}
.toggle .toggle-title {
  background-color: #4CAF50;
  position: relative;
  display: block;
  border-top: 1px solid #dddddd;
  margin-bottom: 6px;
}
.toggle .toggle-title h3 {
  font-size: 20px;
  margin: 0px;
  line-height: 1;
  cursor: pointer;
  font-weight: 200;
  background-color: #4CAF50;
  -moz-border-radius: 10px 20px 30px 0;

}
.toggle .toggle-inner {
  padding: 7px 25px 10px 25px;
  display: none;
  background-color: #4CAF50;
  margin: -7px 0 6px;
}
.toggle .toggle-inner div {
  background-color: #4CAF50;
  max-width: 100%;
}
.toggle .toggle-title .title-name {
  background-color: #4CAF50;
  display: block;
  padding: 25px 25px 14px;
}
.toggle .toggle-title a i {
  background-color: #4CAF50;
  font-size: 22px;
  margin-right: 5px;
}
.toggle .toggle-title i {
  position: absolute;
  background: url("background-image: url("bk.jpeg");") 0px -24px no-repeat;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  margin: 20px;
  right: 0;
}
.toggle .toggle-title.active i {
  background: url("background-image: url("bk.jpeg");") 0px 0px no-repeat;
}
